{{- /* Render a single achievement card with crisp thumbnails and 2x srcset */ -}}
{{- $imgPath := strings.TrimPrefix .image "/" -}}
{{- $orig := resources.Get $imgPath -}}
{{- $isImage := and $orig (eq $orig.MediaType.MainType "image") -}}
{{- if $isImage -}}
  {{- /* Tune sizes to card width; increase if cards are larger */ -}}
  {{- $thumb1x := $orig.Fit "480x q80" -}}
  {{- $thumb2x := $orig.Fit "960x q80" -}}
  <div class="col-6 col-md-4 col-lg-3 mb-4">
    <a href="{{ $orig.RelPermalink }}" class="achievement d-block">
      <img
        class="img-fluid"
        alt="{{ .title }}"
        src="{{ $thumb1x.RelPermalink }}"
        srcset="{{ $thumb1x.RelPermalink }} 1x, {{ $thumb2x.RelPermalink }} 2x"
        width="{{ $thumb1x.Width }}"
        height="{{ $thumb1x.Height }}"
      >
      <div class="mt-2 small fw-600">{{ .title }}</div>
      <div class="text-muted small">{{ .summary }}</div>
    </a>
  </div>
{{- else -}}
  <div class="col-6 col-md-4 col-lg-3 mb-4">
    <a href="{{ .image }}" class="achievement d-block">
      <img
        class="img-fluid"
        alt="{{ .title }}"
        src="{{ .image }}"
      >
      <div class="mt-2 small fw-600">{{ .title }}</div>
      <div class="text-muted small">{{ .summary }}</div>
    </a>
  </div>
{{- end -}}


